.btn {
  padding: 0.6rem 1rem;
  border: 1px solid #fff;
  text-transform: uppercase;
  border-radius: 5px;
  transition: 3s;
  color: #fff;
}
.btn:hover {
  border-color: #ff5200;
  color: #ff5200;
}
.btn-primary {
  background-color: #ff5200;
  border-color: #ff5200;
}
.btn-primary:hover {
  background-color: transparent;
}
.btn-rounded {
  margin-top: 1rem;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
}

.title-conteiner h2, .title-conteiner h1 {
  text-shadow: 3px 2px #000;
}

.services-conteiner h2, .jobs-conteiner h2 {
  font-size: 3rem;
  margin-top: 2rem;
  text-align: center;
}

.jobs-conteiner .jobs-list .first-job, .jobs-conteiner .jobs-list .other-jobs-conteiner .job-card {
  background-size: cover;
  background-position: center;
}

.jobs-conteiner .jobs-list .first-job .job-card-title, .jobs-conteiner .jobs-list .other-jobs-conteiner .job-card .job-card-title, .jobs-conteiner .jobs-list .first-job .job-card-cover, .jobs-conteiner .jobs-list .other-jobs-conteiner .job-card .job-card-cover, .jobs-conteiner .jobs-list .first-job .job-card-description, .jobs-conteiner .jobs-list .other-jobs-conteiner .job-card .job-card-description {
  opacity: 0;
}
.jobs-conteiner .jobs-list .first-job:hover .job-card-title, .jobs-conteiner .jobs-list .other-jobs-conteiner .job-card:hover .job-card-title, .jobs-conteiner .jobs-list .first-job:hover .job-card-cover, .jobs-conteiner .jobs-list .other-jobs-conteiner .job-card:hover .job-card-cover, .jobs-conteiner .jobs-list .first-job:hover .job-card-description, .jobs-conteiner .jobs-list .other-jobs-conteiner .job-card:hover .job-card-description {
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#main-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/office.jpg");
  height: 85vh;
  background-size: cover;
  background-position: center;
}

.nav-conteiner {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 2rem;
  background-color: #000;
  z-index: 10;
}
.nav-conteiner .brand {
  color: #fff;
  font-size: 2rem;
  transition: 0.3s;
}
.nav-conteiner .brand:hover {
  color: #ff5200;
}
.nav-conteiner-navbar {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav-conteiner-navbar li {
  margin: 5px 10px;
}
.nav-conteiner-navbar li a {
  color: #fff;
  transition: 0.3s;
}
.nav-conteiner-navbar li a:hover {
  color: #ff5200;
}
.nav-conteiner-navbar .fas.fas-bars {
  font-size: 2rem;
  color: #fff;
  display: none;
}

.title-conteiner {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.title-conteiner h2 {
  font-size: 2rem;
}
.title-conteiner h1 {
  font-size: 4rem;
  margin-top: 1rem;
}

.services-conteiner {
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;
}
.services-conteiner .services-card-conteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}
.services-conteiner .services-card-conteiner .services-card {
  width: 30%;
  margin: 1%;
  padding: 2rem;
  border: 1px solid #ccc;
  transition: 0.3s;
}
.services-conteiner .services-card-conteiner .services-card i {
  color: #ff5200;
  font-size: 4rem;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.services-conteiner .services-card-conteiner .services-card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.services-conteiner .services-card-conteiner .services-card p {
  color: #8b8e94;
}
.services-conteiner .services-card-conteiner .services-card:hover {
  border: transparent;
  box-shadow: 0 1px 10px #CCC;
}

.jobs-conteiner {
  background-color: #e5eaff;
  padding: 3rem;
}
.jobs-conteiner .jobs-list {
  display: flex;
  padding: 2rem 0;
}
.jobs-conteiner .jobs-list .first-job {
  width: 30%;
  height: 415px;
  background-image: url("../assets/job1.jpg");
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}
.jobs-conteiner .jobs-list .other-jobs-conteiner {
  display: flex;
  flex-wrap: wrap;
  width: 68%;
}
.jobs-conteiner .jobs-list .other-jobs-conteiner .job-card {
  width: 45%;
  height: 200px;
  margin: 0 2%;
  position: relative;
  cursor: pointer;
  margin-bottom: 15px;
  margin-right: 15px;
}
.jobs-conteiner .jobs-list .other-jobs-conteiner #jobs2 {
  background-image: url("../assets/job2.jpg");
}
.jobs-conteiner .jobs-list .other-jobs-conteiner #jobs3 {
  background-image: url("../assets/job3.jpg");
}
.jobs-conteiner .jobs-list .other-jobs-conteiner #jobs4 {
  background-image: url("../assets/job4.jpg");
}
.jobs-conteiner .jobs-list .other-jobs-conteiner #jobs5 {
  background-image: url("../assets/job5.jpg");
}
.jobs-conteiner .jobs-list .job-card-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 1.75rem;
  background-color: rgba(0, 0, 0, 0.6);
  border: 3px solid #ff5200;
}
.jobs-conteiner .jobs-list .job-card-cover .job-card-title {
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 2.2rem;
  transition: 0.5s;
}
.jobs-conteiner .jobs-list .job-card-cover .job-card-description {
  text-align: center;
  color: #fff;
  padding: 1rem;
  font-size: 0.9rem;
}

/*# sourceMappingURL=style.css.map */
